{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>{% trans 'Authorize application' %}</h2>
		<p class="lead">Client <i>{{ client.profile.name }}</i> would like to access this information of you.</p>
		<form method="post">
			{% csrf_token %}
			{{ hidden_inputs }}
			<ul>
				{% for name, desc in scope.items %}
				<li><strong>{{ desc.name }}</strong> <br><i class="text-muted">{{ desc.description }}</i></li>
				{% endfor %}
			</ul>
			<br>
			<button type="submit" class="btn btn-primary btn-block btn-lg" name="_allow" value="yes">{% trans 'Accept' %}</button>
			<button type="submit" class="btn btn-secondary btn-block">{% trans 'Decline' %}</button>
		</form>
	</div>
</div>

{% endblock %}
